
.header-right {
    float: right;
  }
  .header {
    overflow: hidden;
    background-color: #344563;
    padding: 5px 5px;
  }
  .spacer {
    flex: 1 1 auto;
  }
  .main-div{
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
  } 