<!-- <mat-toolbar color="primary">Booking System
  <span class="spacer"></span>
  <div class = "header-right">
    <a routerLink='/home'><a mat-raised-button>Home</a></a>
    <a routerLink ='/booking'><a mat-raised-button>Book</a></a>
  <a mat-raised-button (click)="logOut()">Log Out</a>
  </div>
  </mat-toolbar> -->

<div *ngIf="emptyBooking==false; else emptyList">

  <ul class = "bookings">
  <li *ngFor = "let booking of bookings" style="list-style-type: none;">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{booking.name}}
      </mat-panel-title>
      <mat-panel-description>
        {{booking.environment}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    {{booking.startDate| date: 'dd/MM/yyyy'}} - {{booking.endDate| date: 'dd/MM/yyyy'}}
    <br>
    {{booking.type}}
    <button mat-raised-button (click)="openBottomSheet(booking.type,booking.email,booking.environment,booking.startDate,booking.endDate)">Cancel Booking</button>
  </mat-expansion-panel>
</li>
</ul>  
</div>
<ng-template #emptyList> No current bookings</ng-template>



